.background {
  height: 400px;
  width: 400px;
  background-color: linear-gradient(45deg, #294954, #4c5a43);
  display: flex;
}

.box {
  background-color: linear-gradient(45deg, #008cb9, #97cf6c);
}

/* .tennis {
  height: 100px;
  width: 100px;
  transform: scaleX(-1);

  /* transform: rotate(45deg)
}
*/
