.background {
  height: 500px;
  width: 500px;
  background: linear-gradient(45deg, #294954, #4c5a43);
  display: flex;
}

.box {
  height: 300px;
  width: 200px;
  background: linear-gradient(45deg, #008cb9, #97cf6c);
}

/* .tennis {
  height: 100px;
  width: 100px;
  transform: scaleX(-1);

  /* transform: rotate(45deg)
}
*/
